{% extends "homepage.html" %}

{% block content %}
<div class="table-responsive table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Service Name</th>
                <th scope="col">Severity</th>
                <th scope="col">Type</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Log Title</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <th>{{ log.service_name }}</th>
                    <th>{{ log.severity_label }}</th>
                    <th>{{ log.type_label }}</th>
                    <th>{{ log.timestamp }}</th>
                    <th>{{ log.title }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}